.container {
  width: 1000px;
  background-color: red;
  min-height: 1px;
  height: 100%;
  margin: auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif; }
  .container h1 {
    text-align: center;
    color: white; }
  .container .input_search {
    margin: auto;
    padding-left: 1px; }
  .container h5 {
    display: none; }
  .container h4 {
    display: none; }
  .container h3 {
    display: none; }
